body{
    display: grid;
    width: fit-content;
    margin: 0px 300px;
    grid-template-columns: 125px auto;
    grid-template-rows: auto auto;
    background-color: aquamarine;
}
.pic{
    width: 80px;
    height: 60px;
    margin: 5px auto;
    background-image: url("pic.jpg");
    background-size: 640px 360px;
    background-repeat: no-repeat;
}
.big-pic{
    width: 320px;
    height: 180px;
    margin: auto;
    background-image: url("pic.jpg");
    background-size: 320px 180px;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
}
.field{
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: lightgray;
    padding: 2px;
}
.place{
    width: 76px;
    height: 56px;
    margin: 2px;
    background-color: white;
}
.list{ 
    overflow: auto;
    width: 120px;
    height: 355px;
    margin-top: 5px;
    background-color: silver;
    border-radius: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
}
.list::-webkit-scrollbar{
    width: 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: white;
}
.list::-webkit-scrollbar-thumb:hover{
    background-color: gainsboro;
}
.list::-webkit-scrollbar-thumb:active{
    background-color: lightgray;
}
.selected{
    background-color: lightgray;
}